{% assign hasFilter = block.settings.filter  %}
{% assign hasLocale = block.settings.locale  %}
{% assign hasApiLocale = block.settings.apiLocale  %}
{% assign hasDataSource = block.settings.dataSource  %}

<div 
    class="claymind-crl8" 
    {% case block.settings.galleryType %}
    {% when "home" %}
      data-crl8-container-id="homepage" 
    {% when "product" %}
      data-crl8-container-id="product" 
    {% when "category" %}
      data-crl8-container-id="category" 
    {% when "other" %}
     data-crl8-container-id="{{ block.settings.containerId }}" 
    {% endcase %}
    
    data-site-name="{{ shop.metafields.socialCommerce.socialCommerceSiteName }}"

    {% if hasLocale != "" %}
        data-crl8-locale="{{ block.settings.locale }}"
    {% endif %}

    {% if hasLocale != "" %}
        data-crl8-api-locale="{{ block.settings.apiLocale }}"
    {% endif %}

    {% if hasDataSource != "" %}
        data-crl8-data-source="{{ block.settings.dataSource }}"
    {% endif %}

    {% if hasFilter != "" %}
        data-crl8-filter="{{ block.settings.filter }}:{{ block.settings.filterValue }}"
    {% endif %}
    data-crl8-lazy-load-experience="{{ block.settings.lazyLoad }}"
>
</div>


{% schema %}
{
  "name": "Page Gallery",
  "target": "section",
  "javascript": "social-commerce-init.js",
  "settings": [{
      "type": "header",
      "content": "Basic Settings"
      },{
      "type": "select",
      "id": "galleryType",
      "label": "Gallery Type",
      "options": [
        {
          "value": "home",
          "label": "Home Page"
        },
        {
        "value": "product",
        "label": "Product Page"
        },
        {
        "value": "category",
        "label": "Category Page"
        },
        {
        "value": "other",
        "label": "Other Page"
        }
      ],
      "info": "If you have a custom name for your gallery, choose Other Page. [Learn more](https://www.claymind.com/social-gallery-help)"
    }, {
      "type": "text",
      "id": "containerId",
      "label": "Other Page Container ID",
      "info": "The container ID for your gallery. Only used for Other Page Gallery Type."
    }, {
      "type": "header",
      "content": "Advanced Settings"
    }, {
      "type": "paragraph",
      "content": "All settings below are optional. To learn more about these settings, [click here](https://www.claymind.com/social-gallery-help)"
    }, {
      "type": "text",
      "id": "locale",
      "label": "Locale"
    }, {
      "type": "text",
      "id": "apiLocale",
      "label": "API Locale"
    }, {
      "type": "text",
      "id": "dataSource",
      "label": "Data Source"
    }, {
      "type": "select",
      "id": "filter",
      "label": "Filter",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
        "value": "productId",
        "label": "ProductId"
        },
        {
        "value": "category",
        "label": "Category"
        },
        {
        "value": "label",
        "label": "Label"
        },
        {
        "value": "tag",
        "label": "Tag"
        },
        {
        "value": "username",
        "label": "Username"
        }, {
        "value": "brand",
        "label": "Brand"
        }
      ]
    }, {
      "type": "text",
      "id": "filterValue",
      "label": "Filter Value",
      "info": "Enter the filter value based on the filter type you chose above."
    }, {
      "type": "checkbox",
      "id": "lazyLoad",
      "label": "Lazy Load",
      "default": false
    }
  ]
}
{% endschema %}
