{% assign hasFilter = block.settings.filter  %}
{% assign hasLocale = block.settings.locale  %}
{% assign hasApiLocale = block.settings.apiLocale  %}
{% assign hasDataSource = block.settings.dataSource  %}

<div 
    class="claymind-crl8" 
    data-crl8-container-id="category" 
    data-site-name="{{ shop.metafields.socialCommerce.socialCommerceSiteName }}"

    {% if hasLocale != "" %}
        data-crl8-locale="{{ block.settings.locale }}"
    {% endif %}

    {% if hasLocale != "" %}
        data-crl8-api-locale="{{ block.settings.apiLocale }}"
    {% endif %}

    {% if hasDataSource != "" %}
        data-crl8-data-source="{{ block.settings.dataSource }}"
    {% endif %}

    {% if hasFilter != "" %}
        data-crl8-filter="{{ block.settings.filter }}:{{ block.settings.filterValue }}"
    {% endif %}
    data-crl8-lazy-load-experience="{{ block.settings.lazyLoad }}"
>
</div>

{% schema %}
{
  "name": "Category Page Gallery",
  "target": "section",
  "javascript": "social-commerce-init.js",
  "settings": [
    {
      "type": "text",
      "id": "locale",
      "label": "Locale (Optional)",
      "info": "Determines which localization strings and which product catalog locale should be used. Locales are returned based off of the \"language-COUNTRY\" format. For example, \"en-GB\" or \"fr-FR\". Leave blank to ignore this setting."
    }, {
      "type": "text",
      "id": "apiLocale",
      "label": "API Locale (Optional)",
      "info": "Determines which product catalog locale should be used. This will override the data-crl8-locale for API calls. Same as above locales are based off of the \"language-COUNTRY\" format. Leave blank to ignore this setting."
    }, {
      "type": "text",
      "id": "dataSource",
      "label": "Data Source (Optional)",
      "info": "This will override any existing gallery implementations you're using with a data source ID. Leave blank to ignore this setting."
    }, {
      "type": "select",
      "id": "filter",
      "label": "Filter",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
        "value": "productId",
        "label": "ProductId"
        },
        {
        "value": "category",
        "label": "Category"
        },
        {
        "value": "label",
        "label": "Label"
        },
        {
        "value": "tag",
        "label": "Tag"
        },
        {
        "value": "username",
        "label": "Username"
        }, {
        "value": "brand",
        "label": "Brand"
        }
      ],
      "info": "You can filter the contents of any given Fanreel to better suit the needs of a certain site page by filtering content based on category, label, locale, etc. Set to 'None' to ignore this setting."
    }, {
      "type": "text",
      "id": "filterValue",
      "label": "Filter Value",
      "info": "Enter the filter value based on the filter type you've chosen."
    }, {
      "type": "checkbox",
      "id": "lazyLoad",
      "label": "Lazy Load",
      "default": false,
      "info": "To improve performance, Social Commerce Galleries can be lazy loaded on your site. It is not recommended to use lazy loading if the Social Commerce Gallery is the primary content on the page (ex: full page gallery)."
    }
  ]
}
{% endschema %}
